.bg {
    background-color: #9fd87a;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.mainBlock {
    background-color: #E5EDE0;
    border: 5px solid #2F683B;
    color: #2F683B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 490px;
    width: 323px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 0 #2F683B;
}

.openingText {
    font-weight: bold;
}

a {
    color: #2F683B;
}

.linkButton {
    font-weight: bold;
    background-color: white;
    color: #2F683B;
    text-decoration: none;
    border: 3px solid #2F683B;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    box-shadow: 0 3px 0 #2F683B;
}

.linkButton:hover {
    filter: brightness(0.9);
}

.linkButton:active {
    filter: brightness(0.7);
}

.btn {
    width: 100%;
}

.editorButton {
    padding: 25px;
    font-size: 22px;
}

.menuButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
}

.topButtons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    justify-content: center;
    margin-bottom: auto;
    margin-top: auto;
}

.topButtons a {
    align-self: center;
}

.userArea {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loginButton {
    margin-top: 10px;
}

.loginButton:hover {
    cursor: pointer;
}

.loginButton:active {
    filter: brightness(0.7);
}

.form {
    margin: 5px 0 5px 0;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #49524F;
    width: 100%;
    box-sizing: border-box;
}

.backButton {
    border: 3px solid #2F683B;
    color: #2F683B;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    align-self: first baseline;
    box-shadow: 0 3px 0 #2F683B;
}

.backButton:hover {
    filter: brightness(0.9);
}

.backButton:active {
    filter: brightness(0.7);
}