{% extends 'pixtar/basegallery.html' %}

{% block header %}
<div class="headerButtons">
    <a href="{% url 'pixtar:index' %}"><button type="button" class="backMenuButton">←</button></a>
    <div class="pageTitle">Approve images</div>
</div>
<div class="headerButtons">
    <a href="{% url 'pixtar:rejected' %}"><button type="button" class="linkButton">Rejected images</button></a>
</div>
{% endblock %}

{% block content %}
{% if imagens %}
    <div class="imageList">
        {% for imagem in imagens %}
            <div class="block"
            data-id="{{ imagem.id }}"
            data-title="{{ imagem.titulo }}"
            data-author="{{ imagem.autor }}"
            data-obj-count="{{ imagem.qtdObjetos }}"
            data-alphabet-count="{{ imagem.qtdAlfabetos }}"
            data-font-count="{{ imagem.qtdFontes }}"
            data-color-count="{{ imagem.qtdCores }}"
            data-user-judge= "{{ imagem.julgado_por }}">
                <div class="previewImage">
                    <script type="application/json" class="estadoJSON">
                        {{ imagem.estado|safe }}
                    </script>
                </div>
                <div class="imgDescription">
                    <span class="title">{{ imagem.titulo }}</span><br>by {{ imagem.autor }}
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No images to be approved.</h2>
{% endif %}
{% endblock %}


{% block info %}
<div class="titleAuthor">
    <span id="title"></span><br>
    <small>By <span id="author"></span></small><br>
</div>
<div>
    Objects: <span id="objCount2"></span><br>
    Alphabets: <span id="alphabetCount"></span><br>
    Fonts: <span id="fontCount"></span><br>
    Colors: <span id="colorCount"></span><br>
</div>
<button type="button" class="concludeButtons" id="approve">Approve</button>
<button type="button" class="concludeButtons danger" id="reject">Reject</button>
{% endblock %}