<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Pixtar</title>
            <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
    </head>
    <body>
        {% csrf_token %}
        <div class="all">
            <div class="headerFlex">
                <a href="{% url 'pixtar:index' %}"><button type="button" class="backMenuButton">←</button></a>
                <div class="headerButtons">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>
            <div class="imageListContainer">
                {% block content %}
                {% endblock %}
            </div>
        </div>

        <div class="overlay hidden" id="overlay"></div>
        <div class="popup hidden" id="infoScreen">
            <div class="biggerImage"></div>
            <div class="concludeOps">
                <div class="backButton" id="infoBack">→</div>
                {% block info %}
                {% endblock %}
            </div>
            <div class="hugeImage hidden"></div>
        </div>
        <div class="overlay2 hidden" id="overlay2"></div>
        <div class="popupSmall hidden" id="confirmPopup">
            <div class="popupMessage" id="popupMessage1"></div>
            <div class="confirmButtons">
                <button type="button" class="confirmButton" id="confirmBtn">Yes</button>
                <button type="button" class="confirmButton" id="cancelBtn">No</button>
            </div>
        </div>
        <div class="popupSmall hidden" id="popupSmall">
            <div class="popupMessage" id="popupMessage2"></div>
            <button type="button" class="okButton" id="ok">OK</button>
        </div>

        <script>
            let currentImageId = null;
            let judgeAction = '';

            let listSize = 0;
            let sectionEmpty = false;

            const titleArea = document.getElementById('title');
            const authorArea = document.getElementById('author');
            
            const objCount2 = document.getElementById('objCount2');
            const alphabetCount = document.getElementById('alphabetCount');
            const fontCount = document.getElementById('fontCount');
            const colorCount = document.getElementById('colorCount');
            const userJudge = document.getElementById('userJudge');

            const overlay = document.getElementById('overlay');
            const infoScreen = document.getElementById('infoScreen');
            const overlay2 = document.getElementById('overlay2');
            const popupSmall = document.getElementById('popupSmall');
            const okButton = document.getElementById('ok');

            const popupMessage1 = document.getElementById('popupMessage1');
            const popupMessage2 = document.getElementById('popupMessage2');

            const confirmPopup  = document.getElementById('confirmPopup');
            const confirmBtn = document.getElementById('confirmBtn');
            const cancelBtn = document.getElementById('cancelBtn');

            const infoBack = document.getElementById('infoBack');
            const approveBtn = document.getElementById('approve');
            const rejectBtn = document.getElementById('reject');

            const likeCounter = document.getElementById('likeCount');
            const likeBtn = document.getElementById('likeBtn');
            const errorMsg = document.getElementById('errorMsg');

            const sortDate = document.getElementById('sortDate');
            const sortLikes = document.getElementById('sortLikes');
            const sortUserImages = document.getElementById('sortUserImages');
            const sortUserLikes = document.getElementById('sortUserLikes');

            const timeLeft = document.getElementById('timeLeft');

            const editBtn = document.getElementById('edit');
            const deleteBtn = document.getElementById('delete');

            if (likeBtn)
                likeBtn.addEventListener('click', likeImage);

            if (approveBtn) approveBtn.addEventListener('click', () => confirmJudge('approve'));
            if (rejectBtn) rejectBtn.addEventListener('click', () => confirmJudge('reject'));
            if (deleteBtn) deleteBtn.addEventListener('click', () => confirmJudge('delete'));
            confirmBtn.addEventListener('click', () => judge(judgeAction));

            cancelBtn.addEventListener('click', closeConfirmPopup);
            infoBack.addEventListener('click', closeInfo);
            okButton.addEventListener('click', closePopup);

            if (sortDate) {
                sortDate.addEventListener('click', sortByDate);
                sortLikes.addEventListener('click', sortByLikes);
            }
            if (sortUserImages) {
                sortUserImages.addEventListener('click', sortByUserImages);
                sortUserLikes.addEventListener('click', sortByUserLikes);
            }

            if (editBtn) {
                editBtn.addEventListener('click', () => {
                    if (currentImageId)
                        window.location.href = `/editor/?imgId=${currentImageId}`;
                });
            }

            document.querySelectorAll(".previewImage").forEach(div => {
                listSize++;
                const scale = 0.3;

                const jsonScript = div.querySelector(".estadoJSON");
                const estado = JSON.parse(jsonScript.textContent);

                const container = document.createElement('div');
                container.className = 'previewContent';
                container.innerHTML = estado.html;

                container.style.backgroundColor = estado.color;
                container.style.width = (estado.width * scale) + 'px';
                container.style.height = (estado.height * scale) + 'px';

                container.dataset.width = estado.width;
                container.dataset.height = estado.height;

                div.appendChild(container);

                container.querySelectorAll('.element').forEach(el => {
                    const rotation = el.dataset.rotation || 0;
                    const scaleX = el.dataset.scaleX || 1;
                    const scaleY = el.dataset.scaleY || 1;

                    el.style.left = (el.dataset.x * scale) + 'px';
                    el.style.top = (el.dataset.y * scale) + 'px';
                    el.style.fontSize = (el.dataset.fontSize * scale) + 'px';

                    el.style.transform = `translate(-50%, -50%) rotate(${rotation}deg) scale(${scaleX}, ${scaleY})`;
                });
            });
            if (likeCounter && listSize === 0) {
                const emptyMessage = document.querySelector('.sectionEmpty');
                emptyMessage.classList.remove('hidden');
                emptyMessage.textContent = 'No images on the gallery.';

                sectionEmpty = true;
            }

            document.querySelectorAll('.block').forEach(block => {
                block.addEventListener('click', openInfo)
            })

            function openInfo(e) {
                const block = e.currentTarget;
                const image = block.querySelector('.previewContent');
                overlay.classList.remove('hidden');
                infoScreen.classList.remove('hidden');
                const biggerImage = infoScreen.querySelector('.biggerImage')
                makePreview(e, image, biggerImage, 0.5);
                currentImageId = block.dataset.id;

                biggerImage.addEventListener('click', () => {
                    const hugeImage = infoScreen.querySelector('.hugeImage')
                    makePreview(e, image, hugeImage, 1);
                    hugeImage.classList.remove('hidden');
                    overlay.style.cursor = 'pointer';
                    
                    overlay.addEventListener('click', () => {
                        hugeImage.classList.add('hidden');
                        overlay.style.cursor = 'default';
                    }, {once : true});
                });

                if (titleArea) {
                    titleArea.textContent = block.dataset.title;
                    authorArea.textContent = block.dataset.author;
                }

                objCount2.textContent = block.dataset.objCount;
                alphabetCount.textContent = block.dataset.alphabetCount;
                fontCount.textContent = block.dataset.fontCount;
                colorCount.textContent = block.dataset.colorCount;

                if (userJudge)
                    userJudge.textContent = block.dataset.userJudge;

                if (timeLeft)
                    timeLeft.textContent = block.dataset.timeLeft;

                if (likeCounter) {
                    likeCounter.textContent = block.dataset.likeCount;

                    if (block.dataset.login == 'False') {
                        likeBtn.classList.remove('liked');
                        likeBtn.classList.add('inactive');
                        errorMsg.textContent = "You need to be logged in to like images."
                    }
                    else if (block.dataset.sameUser === 'True') {
                        likeBtn.classList.add('liked');
                        likeBtn.classList.add('inactive');
                        errorMsg.textContent = "Image shared by you."
                    }
                    else {
                        likeBtn.classList.remove('inactive');
                        errorMsg.textContent = '';
                        if (block.dataset.liked === 'True') likeBtn.classList.add('liked');
                        else likeBtn.classList.remove('liked');
                    }
                }
            }

            function makePreview(e, image, previewImage, scale) {
                previewImage.innerHTML = image.innerHTML;
                previewImage.style.backgroundColor = image.style.backgroundColor;

                previewImage.style.width = (image.dataset.width * scale) + 'px';
                previewImage.style.height = (image.dataset.height * scale) + 'px';

                previewImage.querySelectorAll('.element').forEach(el => {
                    const rotation = el.dataset.rotation || 0;
                    const scaleX = el.dataset.scaleX || 1;
                    const scaleY = el.dataset.scaleY || 1;

                    el.style.left = (el.dataset.x * scale) + 'px';
                    el.style.top = (el.dataset.y * scale) + 'px';
                    el.style.fontSize = (el.dataset.fontSize * scale) + 'px';

                    el.style.transform = `translate(-50%, -50%) rotate(${rotation}deg) scale(${scaleX}, ${scaleY})`;
                });
            }

            function closeInfo() {
                overlay.classList.add('hidden');
                infoScreen.classList.add('hidden');
                currentImageId = null;
            }
            
            function confirmJudge(action) {
                let message;
                switch(action) {
                    case 'approve':
                        message = 'Are you sure you want to approve this image?';
                        break;
                    case 'reject':
                        message = 'Are you sure you want to reject this image?';
                        break;
                    case 'delete':
                        message = 'Are you sure you want to delete this image?';
                }

                judgeAction = action;

                openConfirmPopup(message);
            }

            function judge(action) {
                if (action === 'delete') {
                    deleteImage();
                    return;
                }
                const formData = new FormData();
                formData.append('id', currentImageId);
                formData.append('action', action);

                fetch('/judge/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getTokenFromCookies('csrftoken')
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    closeConfirmPopup();
                    if (data.success) {
                        if (action === 'approve') {
                            openPopup("Image approved. It will now be displayed in the gallery.");
                        }
                        else if (action === 'reject') {
                            openPopup("Image removed. It will appear in the Rejected tab and be deleted in 2 days.");
                        }

                        document.querySelector(`[data-id="${currentImageId}"]`).remove();
                        listSize--;
                        if (likeCounter) updateLikesSort();
                        if (listSize === 0) {
                            if (!likeCounter) {
                                const el = document.createElement('h2');
                                if (!timeLeft && !likeCounter)
                                    el.textContent = 'No images to be approved.';
                                else if (timeLeft)
                                    el.textContent = 'No rejected images.';

                                document.querySelector('.imageListContainer').appendChild(el);
                            }
                        }
                    }
                    else {
                        openPopup("Image judgement failed.");
                    }
                });
            }

            function likeImage() {
                const formData = new FormData();
                formData.append('id', currentImageId);

                fetch('/like/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getTokenFromCookies('csrftoken')
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        const block = document.querySelector(`[data-id="${currentImageId}"]`);
                        block.dataset.likeCount = data.likeCount;
                        likeCounter.textContent = data.likeCount;
                        if (data.liked) {
                            likeBtn.classList.add('liked');
                            block.dataset.liked = 'True';
                            if (sortUserLikes && sortUserLikes.classList.contains('selected')) {
                                block.classList.remove('hidden');
                                updateLikesSort();
                            }
                        }
                        else {
                            likeBtn.classList.remove('liked');
                            block.dataset.liked = 'False';
                            if (sortUserLikes && sortUserLikes.classList.contains('selected')) {
                                block.classList.add('hidden');
                                updateLikesSort();
                            }
                        }
                    }
                });
            }

            function deleteImage() {
                const formData = new FormData();
                formData.append('id', currentImageId);

                fetch('/delete/', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getTokenFromCookies('csrftoken')
                    },
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    closeConfirmPopup();
                    if (data.success) {
                        openPopup("Image deleted.");
                        const block = document.querySelector(`[data-id="${currentImageId}"]`);
                        block.remove();
                        listSize--;
                        if (listSize === 0) {
                            const el = document.createElement('h2');
                            el.textContent = 'No images created.';

                            document.querySelector('.imageListContainer').appendChild(el);
                        }
                    }
                    else {
                        openPopup("Failed to delete image.");
                    }
                });
            }

            function getTokenFromCookies(name) {
                let tokenValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');

                    for (let cookie of cookies) {
                        cookie = cookie.trim();
                        if (cookie.startsWith(name + '=')) {
                            tokenValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return tokenValue;
            }

            function openConfirmPopup(message) {
                popupMessage1.textContent = message;

                overlay2.classList.remove('hidden');
                confirmPopup.classList.remove('hidden');
            }

            function closeConfirmPopup() {
                overlay2.classList.add('hidden');
                confirmPopup.classList.add('hidden');
            }

            function openPopup(message) {
                popupMessage2.textContent = message;

                overlay2.classList.remove('hidden');
                popupSmall.classList.remove('hidden');
            }

            function closePopup() {
                overlay2.classList.add('hidden');
                popupSmall.classList.add('hidden');
            
                overlay.classList.add('hidden');
                infoScreen.classList.add('hidden');
            }

            function sortByDate() {
                if (!sortDate.classList.contains('selected')) {
                    sortDate.classList.add('selected');
                    sortLikes.classList.remove('selected');

                    if (sortDate.textContent.includes('▼'))
                        dateSort('newest');
                    else if (sortDate.textContent.includes('▲'))
                        dateSort('oldest');
                }
                else if (sortDate.textContent.includes('▼')) {
                    sortDate.textContent = sortDate.textContent.replace('▼', '▲');
                    dateSort('oldest');
                }
                else if (sortDate.textContent.includes('▲')) {
                    sortDate.textContent = sortDate.textContent.replace('▲', '▼');
                    dateSort('newest');
                }
            }

            function dateSort(op) {
                const blockList = document.querySelector('.imageList');
                const blocks = [...document.querySelectorAll('.block')];

                blocks.sort((a, b) => {
                    const dateA = new Date(a.dataset.date);
                    const dateB = new Date(b.dataset.date);

                    if (op === 'newest') return dateB - dateA;
                    if (op === 'oldest') return dateA - dateB;
                });

                blockList.innerHTML = '';
                blocks.forEach(block => blockList.appendChild(block));
            }

            function sortByLikes() {
                if (!sortLikes.classList.contains('selected')) {
                    sortDate.classList.remove('selected');
                    sortLikes.classList.add('selected');

                    if (sortLikes.textContent.includes('▼'))
                        likeSort('most');
                    else if (sortLikes.textContent.includes('▲'))
                        likeSort('least');
                }
                else if (sortLikes.textContent.includes('▼')) {
                    sortLikes.textContent = sortLikes.textContent.replace('▼', '▲');
                    likeSort('least');
                }
                else if (sortLikes.textContent.includes('▲')) {
                    sortLikes.textContent = sortLikes.textContent.replace('▲', '▼');
                    likeSort('most');
                }
            }

            function likeSort(op) {
                const blockList = document.querySelector('.imageList');
                const blocks = [...document.querySelectorAll('.block')];

                blocks.sort((a, b) => {
                    const likesA = parseInt(a.dataset.likeCount);
                    const likesB = parseInt(b.dataset.likeCount);

                    if (op === 'most') return likesB - likesA;
                    if (op === 'least') return likesA - likesB;
                });

                blockList.innerHTML = '';
                blocks.forEach(block => blockList.appendChild(block));
            }

            function sortByUserImages() {
                if (!sortUserImages.classList.contains('selected')) {
                    sortUserImages.classList.add('selected');
                    sortUserLikes.classList.remove('selected');
                    galleryFilter('all');
                    galleryFilter('user');
                }
                else {
                    sortUserImages.classList.remove('selected');
                    galleryFilter('all');
                }
                updateLikesSort();
            }

            function sortByUserLikes() {
                if (!sortUserLikes.classList.contains('selected')) {
                    sortUserImages.classList.remove('selected');
                    sortUserLikes.classList.add('selected');
                    galleryFilter('all');
                    galleryFilter('liked');
                }
                else {
                    sortUserLikes.classList.remove('selected');
                    galleryFilter('all');
                }
                updateLikesSort();
            }

            function galleryFilter(op) {
                const blocks = [...document.querySelectorAll('.block')];

                if (op === 'user') {
                    blocks.forEach(block => {
                        if (block.dataset.sameUser === 'False')
                            block.classList.add('hidden');
                    });
                }
                else if (op === 'liked') {
                    blocks.forEach(block => {
                        if (block.dataset.liked === 'False')
                            block.classList.add('hidden');
                    });
                }
                else if (op === 'all') {
                    blocks.forEach(block => {
                        block.classList.remove('hidden');
                    });
                }
            }

            function updateLikesSort() {
                const hiddenSize = [...document.querySelectorAll('.block.hidden')].length;
                const emptyMessage = document.querySelector('.sectionEmpty');

                if (hiddenSize === listSize) {
                    emptyMessage.classList.remove('hidden');

                    if (sortUserImages && sortUserImages.classList.contains('selected'))
                        emptyMessage.textContent = 'No images shared by you.';
                    else if (sortUserLikes &&sortUserLikes.classList.contains('selected'))
                        emptyMessage.textContent = 'No liked images.';
                    else
                        emptyMessage.textContent = 'No images on the gallery.';

                    document.querySelector('.imageListContainer').appendChild(emptyMessage);
                    sectionEmpty = true;
                }
                else if (sectionEmpty) {
                    emptyMessage.classList.add('hidden');
                    sectionEmpty = false;
                }
            }
        </script>
    </body>
</html>