<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{% static 'css/title.css' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    </head>
    <body>
        <main>
            <div class="bg"></div>
            <div class="overlay"></div>
            <div class="mainBlock">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </body>
</html>