<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Editor</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body>
        {% csrf_token %}
        <div class="all">
            <div id="ops">
                <div class="upperOps">
                    <a href="{% url 'pixtar:index'%}"><button type="button" class="backMenuButton" id="back" data-message="Go back to the main menu.">←</button></a>
                    <div>
                        <button type="button" id="undo" data-message="Undo the last modification made.\nKeyboard: Z">↩</button>
                        <button type="button" id="redo" data-message="Redo the last undone action.\nKeyboard: Y">↪</button>
                        <button type="button" id="info" data-message="Turn on button descriptions.\nClick to turn off.">?</button><br>
                        <button type="button" id="clear" data-message="Clear the canvas.">clear</button>
                        <button type="button" id="delete" data-message="Delete the selected object.\nKeyboard: Del">delete</button>
                        <button type="button" id="copy" data-message="Make a copy of the selected object.\nKeyboard: V">copy</button>
                    </div>
                </div>
                <p>
                    <small>Modifier:</small>
                    <button type="button" id="modSmall" data-message="The modifier for all transformations.\nSelect small for precise modifications.\nKeyboard: Ctrl to change">small</button>
                    <button type="button" id="modMedium" data-message="The modifier for all transformations.\nSelect medium for usual modifications.\nKeyboard: Ctrl to change">medium</button>
                    <button type="button" id="modBig" data-message="The modifier for all transformations.\nSelect big for large modifications.\nKeyboard: Ctrl to change">big</button>
                </p>
                <p>
                    <button type="button" id="Lbutton" data-message="Move the selected object left.\nKeyboard: Left / A"><</button>
                    <button type="button" id="Rbutton" data-message="Move the selected object right.\nKeyboard: Right / D">></button>
                    <button type="button" id="Ubutton" data-message="Move the selected object up.\nKeyboard: Up / W">^</button>
                    <button type="button" id="Dbutton" data-message="Move the selected object down.\nKeyboard: Down / S">v</button>
                    <br><br>
                    <button type="button" id="sizeUp" data-message="Make the selected object bigger.\nNot available with multiple objects.\nKeyboard: + / Scroll up">+</button>
                    <button type="button" id="sizeDown" data-message="Make the selected object smaller.\nNot available with multiple objects.\nKeyboard: - / Scroll down">-</button>
                    <button type="button" id="stretchV" data-message="Make the selected object thinner.\nNot available with multiple objects.\nKeyboard: R">>|<</button>
                    <button type="button" id="stretchH" data-message="Make the selected object thicker.\nNot available with multiple objects.\nKeyboard: T"><|></button>
                    <br>
                    <button type="button" id="rotateDown" data-message="Rotate the selected object counter-clockwise.\nKeyboard: Q">↺</button>
                    <button type="button" id="rotateUp" data-message="Rotate the selected object clockwise.\nKeyboard: E">↻</button>
                    <button type="button" id="flipH" data-message="Flip the selected object horizontally.\nKeyboard: X">flip | </button>
                    <button type="button" id="flipV" data-message="Flip the selected object vertically.\nKeyboard: C">flip --</button>
                </p>
                <div class="bottomOps">
                    <div class="leftSide">
                        <button type="button" id="mirror" data-message="Activate to create objects with mirrors.\nDeactivate to break the selected objects' mirror.">mirror: <span id="mirrorMode">OFF</span></button>
                        <br>
                        <button type="button" id="hiddenTop" data-message="Bring all hidden objects back to the top.">bring hidden to top</button>
                        <br>
                        <button type="button" id="deselect" data-message="Deselect all objects.">deselect</button>
                        <br><br>
                        <small>Objects: <span id="objCount">0</span></small>
                        <br><br>
                        <button type="button" id="conclude" class="concludeButtons smaller" data-message="Download or share the image">Complete</button>
                    </div>
                    <div class="colorContainer">
                        <span class="colorPicker">
                            <span class="sv">
                                <canvas id="svRectangle" class="picker" width="160" height="100"></canvas>
                                <span id="svPicker"></span>
                            </span>
                            <span class="hue">
                                <canvas id="hueBar" class="picker" width="6" height="100"></canvas>
                                <span id="huePicker"></span>
                            </span>
                        </span>
                        <span class="selectColors">
                            <button id="currentColor" class="colorBlock" data-message="The selected color.\nClick to change the selected element's color."></button>
                            <span>
                                <small>Background color: </small>
                                <button id="bgColor" class="colorBlock" data-message="Click to activate.\nSelect a color while activated to change the background color.\nRight click to select the current background color."></button>
                            </span>
                        </span>
                        <div id="colorList" data-message="The list of colors currently on the canvas.\nClick on a color to select it.">
                            <div id="usedColors"></div>
                            <div class="colorArrows">
                                <div class="triang up" id="colorsUp"></div>
                                <div class="triang down" id="colorsDown"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="charContainer">
                <div class="alphabetAndFont">
                    <div>
                        <small>Alphabet:</small>
                        <br>
                        <small>Font:</small>
                    </div>
                    <div>
                        <div class="letterOptions">
                            <div class="triang back" id="alphabetDown" data-message="Change the current alphabet.\nKeyboard: G to change"></div>
                            <small><span id="alphabetMessage" class="letterMessage"></span></small>
                            <div class="triang forward" id="alphabetUp" data-message="Change the current alphabet.\nKeyboard: G to change"></div>
                        </div>
                        <div class="letterOptions">
                            <div class="triang back" id="fontDown" data-message="Change the current font.\nKeyboard: F to change"></div>
                            <small><span id="fontMessage" class="letterMessage"></span></small>
                            <div class="triang forward" id="fontUp" data-message="Change the current font.\nKeyboard: F to change"></div>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="replaceLetter" data-message="Click to activate.\nClicking one of the preview letters will replace the selected object with it.">replace letter mode</button>
                        <br>
                        <button type="button" id="fontOne" data-message="Make the selected object have the current font.">replace one</button>
                        <button type="button" id="fontAll" data-message="Make all objects on the canvas have the current font.">replace all</button>
                    </div>
                </div>
                <div id="alphabet" data-message="Drag a letter to the canvas to create an object.\nClick to create an object on the center of the canvas."></div>
            </div>
            <div id="canvas"></div>
        </div>
        <div class="overlay hidden" id="overlay"></div>
        <div class="popup hidden" id="concludeScreen">
            <div class="previewImage"></div>
            <div class="concludeOps">
                <div class="backButton" id="concludeBack">→</div>
                <div>
                    Objects: <span id="objCount2"></span><br>
                    Alphabets: <span id="alphabetCount"></span><br>
                    Fonts: <span id="fontCount"></span><br>
                    Colors: <span id="colorCount"></span><br>
                </div>
                <button type="button" class="concludeButtons" id="download">Download</button>
                <button type="button" class="concludeButtons" id="share">Share to exposition</button>
            </div>
        </div>
        <div class="popup hidden" id="shareScreen">
            <div class="previewImage"></div>
            <div class="concludeOps">
                <div class="backButton" id="shareBack">→</div>
                <span>
                    Title:<br><input type="text" class="input form" id="titleInput" maxlength="35">
                    <input type="checkbox" id="untitled" name="untitled">Untitled</input>
                </span>
                <span>
                    Author:<br><input type="text" class="input form" id="authorInput" value="{{ user.username }}" maxlength="35">
                    <input type="checkbox" id="anonymous" name="anonymous">Anonymous</input>
                </span>
                <small>Do not share images that are low effort, promote violence or contain sexual content.</small>
                <button type="button" class="concludeButtons" id="save">Share to exposition</button>
            </div>
        </div>
        <div class="overlay2 hidden" id="overlay2"></div>
        <div class="popupSmall hidden" id="popupSmall">
            <div id="popupMessage"></div>
            <button type="button" class="okButton" id="ok">OK</button>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</html>