{% extends 'pixtar/basegallery.html' %}

{% block title %}
<title>Gallery</title>
{% endblock %}

{% block header %}
<div class="headerButtons">
    <a href="{% url 'pixtar:index' %}"><button type="button" class="backMenuButton">←</button></a>
    <div class="pageTitle">Gallery</div>
</div>
<div class="headerButtons">
    <button type="button" class="linkButton selected" id="sortDate">Sort by date ▼</button>
    <button type="button" class="linkButton" id="sortLikes">Sort by likes ▼</button>
    {% if user.is_authenticated %}
        <button type="button" class="linkButton" id="sortUserImages">◼ Your images</button>
        <button type="button" class="linkButton" id="sortUserLikes">❤ Your likes</button>
    {% endif %}
</div>
{% endblock %}

{% block content %}
<h2 class="sectionEmpty hidden"></h2>
{% if imagens %}
    <div class="imageList">
        {% for imagem in imagens %}
            <div class="block"
            data-id="{{ imagem.id }}"
            data-title="{{ imagem.titulo }}"
            data-author="{{ imagem.autor }}"
            data-obj-count="{{ imagem.qtdObjetos }}"
            data-alphabet-count="{{ imagem.qtdAlfabetos }}"
            data-font-count="{{ imagem.qtdFontes }}"
            data-color-count="{{ imagem.qtdCores }}"
            data-user-judge= "{{ imagem.julgado_por }}"
            data-liked= "{{ imagem.liked }}"
            data-like-count= "{{ imagem.qtdLikes }}"
            data-same-user= "{{ imagem.sameUser }}"
            data-login= "{{ imagem.login }}"
            data-date= "{{ imagem.data_julgamento|date:'c' }}">
                <div class="previewImage">
                    <script type="application/json" class="estadoJSON">
                        {{ imagem.estado|safe }}
                    </script>
                </div>
                <div class="imgDescription">
                    <span class="title">{{ imagem.titulo }}</span><br>by {{ imagem.autor }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}


{% block info %}
<div class="titleAuthor">
    <big><span id="title"></span></big><br>
    <small>By <span id="author"></span></small><br>
</div>
<div>
    Symbols: <span id="objCount2"></span><br>
    Alphabets: <span id="alphabetCount"></span><br>
    Fonts: <span id="fontCount"></span><br>
    Colors: <span id="colorCount"></span><br>
</div>
<div>
    <span class="heart" id="likeBtn">❤</span> <span id="likeCount"></span>
    <small><div id="errorMsg"></div></small>
</div>
{% if perms.pixtar.can_moderate %}
    <div>Approved by: <span id="userJudge"></span></div>
    <button type="button" class="concludeButtons danger" id="reject">Remove from gallery</button>
{% endif %}
{% endblock %}