{% extends 'pixtar/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
{% if imagens %}
    <h2>Lista de imagens</h2>
    <div class="imageList">
        {% for imagem in imagens %}
            <div class="block">
                <div class="previewImage">
                    <script type="application/json" class="estadoJSON">
                        {{ imagem.estado|safe }}
                    </script>
                </div>
                {{ imagem.titulo }}<br>by {{ imagem.autor }}
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>Nenhuma imagem ainda</h2>
{% endif %}

<script>
    document.addEventListener('mousedown', (e) => {e.preventDefault()});
    document.querySelectorAll(".previewImage").forEach(div => {
        const scale = 0.3;

        const jsonScript = div.querySelector(".estadoJSON");
        const estado = JSON.parse(jsonScript.textContent);

        const container = document.createElement('div');
        container.className = 'previewContent';
        container.innerHTML = estado.html;

        container.style.backgroundColor = estado.color;
        container.style.width = (estado.width * scale) + 'px';
        container.style.height = (estado.height * scale) + 'px';

        div.appendChild(container);

        container.querySelectorAll('.element').forEach(el => {
            const rotation = el.dataset.rotation || 0;
            const scaleX = el.dataset.scaleX || 1;
            const scaleY = el.dataset.scaleY || 1;

            el.style.left = (el.dataset.x * scale) + 'px';
            el.style.top = (el.dataset.y * scale) + 'px';
            el.style.fontSize = (el.dataset.fontSize * scale) + 'px';

            el.style.transform = `translate(-50%, -50%) rotate(${rotation}deg) scale(${scaleX}, ${scaleY})`;
        });
    });
</script>

{% endblock %}