{% extends 'pixtar/base.html' %}

{% block content %}
<div class="openingText">This site is a recreation of the character editor from the 2005 Brazilian game Cosmopax.</div>
<div class="menuButtons">
    <div class="topButtons">
        <a class="linkButton editorButton" href="{% url 'pixtar:editor' %}">Create image</a>
        <a class="linkButton" href="{% url 'pixtar:gallery' %}">View gallery</a>
    </div>
    {% if user.is_authenticated %}
        <div>
            <hr>
            User: {{ user.username }}<br>
            Id: {{ user.id }}<br><br>
            <div class="userArea">
                <a class="linkButton" href="{% url 'pixtar:userImages' %}">Your images</a>
                {% if user.is_staff %}
                    <a class="linkButton" href="{% url 'pixtar:approve' %}">Approve images ({{ approveCount }})</a>
                {% endif %}
                <span>
                    {% if user.is_staff %}
                        <span class="logout"><a href="{% url 'pixtar:approve' %}">Mod list</a></span> | 
                    {% endif %}
                    <span class="logout"><a href="{% url 'pixtar:logout' %}">Logout</a></span>
                </span>
            </div>
        </div>
    {% else %}
        <a class="linkButton loginButton" href="{% url 'pixtar:login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}