{% extends 'pixtar/base.html' %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block user %}
<br>
{% if user.is_authenticated %}
    User: {{ user.username }}<br>
    <a href="{% url 'pixtar:logout' %}">Logout</a>
{% else %}
    <a href="{% url 'pixtar:login' %}">Login</a>
{% endif %}
<br>
{% endblock %}

{% block content %}
<a href="{% url 'pixtar:editor' %}">Acessar editor</a><br>
<a href="{% url 'pixtar:imagens' %}">Ver imagens</a>
{% endblock %}