{% extends "pixtar/baseModList.html" %}

{% block header %}
<div class="pageTitle">List of Moderators</div>
<button type="button" class="linkButton selected" id="addMod">+ Add Moderator</button>
{% endblock %}

{% block content %}
<div class="modList" id="modList">
{% for mod in mods %}
    <div class="modBlock" data-block-id="{{ mod.id }}">
        <div>
            {{ mod.username }}
            {% if mod.is_staff %}
             (Admin)
            {% endif %}
        </div>
        <div>|</div>
        <div>ID: {{ mod.id }}</div>
        <div>
            {% if not mod.is_superuser and not mod.is_staff and not mod.sameUser %}
            <div class="removeModButton" data-id="{{ mod.id }}" data-name="{{ mod.username }}">X</div>
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}