{% extends "pixtar/baseModList.html" %}

{% block header %}
<div class="headerButtons">
    <a href="{% url 'pixtar:index' %}"><button type="button" class="backMenuButton">←</button></a>
    <div class="pageTitle">Moderator List</div>
</div>
<div class="headerButtons">
    <button type="button" class="linkButton" id="addMod">+ Add Moderator</button>
</div>
{% endblock %}

{% block content %}
<div class="modList" id="modList">
{% for mod in mods %}
    {% if mod.staff == True %}
        <div class="modBlock" data-block-id="{{ mod.id }}">
            <div>
                {{ mod.username }} (Admin)
            </div>
            <div>|</div>
            <div>ID: {{ mod.id }}</div>
            <div></div>
        </div>
    {% endif %}
{% endfor %}
{% for mod in mods %}
    {% if mod.staff == False %}
        <div class="modBlock" data-block-id="{{ mod.id }}">
            <div>
                {{ mod.username }}
            </div>
            <div>|</div>
            <div>ID: {{ mod.id }}</div>
            <div>
                {% if not mod.sameUser %}
                <div class="removeModButton danger" data-id="{{ mod.id }}" data-name="{{ mod.username }}">X</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
</div>
{% endblock %}