{% extends 'pixtar/base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block content %}
<a class="backButton" href="{% url 'pixtar:index' %}">←&#xFE0E;</a>
<div class="topButtons">
    <form method="POST">
        {% csrf_token %}
        <div>
            <input type="text" class="form" name="username" placeholder="Username" maxlength="20"><br>
            <input type="password" class="form" name="password" placeholder="Password"><br>
            <input type="password" class="form" name="confirmPassword" placeholder="Confirm password"><br>
            {% if error %}
                {{ error }}
            {% endif %}
        </div>
        <button type="submit" class="linkButton btn loginButton">Register</button>
    </form>
    <a href="{% url 'pixtar:login' %}">Login</a>
</div>
{% endblock %}