{% extends 'pixtar/basegallery.html' %}

{% block content %}
    {% if imagens %}
        <h2>Images to approve</h2>
        <div class="imageList">
            {% for imagem in imagens %}
                <div class="block"
                data-obj-count="{{ imagem.qtdObjetos }}"
                data-alphabet-count="{{ imagem.qtdAlfabetos }}"
                data-font-count="{{ imagem.qtdFontes }}"
                data-color-count="{{ imagem.qtdCores }}">
                    <div class="previewImage">
                        <script type="application/json" class="estadoJSON">
                            {{ imagem.estado|safe }}
                        </script>
                    </div>
                    {{ imagem.titulo }}<br>by {{ imagem.autor }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h2>No rejected images.</h2>
    {% endif %}
{% endblock %}