{% extends 'pixtar/basegallery.html' %}

{% block title %}
<title>Your Images</title>
{% endblock %}

{% block header %}
<div class="headerButtons">
    <a href="{% url 'pixtar:index' %}"><button type="button" class="backMenuButton">←</button></a>
    <div class="pageTitle">Your Images</div>
</div>
<div class="headerButtons">
    <button type="button" class="linkButton selected" id="sortDate">Sort by date ▼</button>
</div>
{% endblock %}

{% block content %}
{% if imagens %}
    <div class="imageList">
        {% for imagem in imagens %}
            <div class="block"
            data-id="{{ imagem.id }}"
            data-obj-count="{{ imagem.qtdObjetos }}"
            data-alphabet-count="{{ imagem.qtdAlfabetos }}"
            data-font-count="{{ imagem.qtdFontes }}"
            data-color-count="{{ imagem.qtdCores }}"
            data-date="{{ imagem.date_saved|date:'c' }}">
                <div class="previewImage">
                    <script type="application/json" class="estadoJSON">
                        {{ imagem.estado|safe }}
                    </script>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h2>No images created.</h2>
{% endif %}
{% endblock %}


{% block info %}
<div>
    Objects: <span id="objCount2"></span><br>
    Alphabets: <span id="alphabetCount"></span><br>
    Fonts: <span id="fontCount"></span><br>
    Colors: <span id="colorCount"></span><br>
</div>
<div class="bottomButtonsFlex">
    <button type="button" class="concludeButtons deleteButton danger" id="delete">🗑︎</button>
    <button type="button" class="concludeButtons" id="edit">Edit</button>
</div>
{% endblock %}