{% extends 'pixtar/basegallery.html' %}

{% block header %}
<div class="pageTitle">Your Images</div>
{% endblock %}

{% block content %}
<h2 class="sectionEmpty hidden"></h2>
{% if imagens %}
    <div class="imageList">
        {% for imagem in imagens %}
            <div class="block"
            data-id="{{ imagem.id }}"
            data-obj-count="{{ imagem.qtdObjetos }}"
            data-alphabet-count="{{ imagem.qtdAlfabetos }}"
            data-font-count="{{ imagem.qtdFontes }}"
            data-color-count="{{ imagem.qtdCores }}">
                <div class="previewImage">
                    <script type="application/json" class="estadoJSON">
                        {{ imagem.estado|safe }}
                    </script>
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}


{% block info %}
<div>
    Objects: <span id="objCount2"></span><br>
    Alphabets: <span id="alphabetCount"></span><br>
    Fonts: <span id="fontCount"></span><br>
    Colors: <span id="colorCount"></span><br>
</div>
<div class="bottomButtonsFlex">
    <button type="button" class="concludeButtons" id="delete">Delete</button>
    <button type="button" class="concludeButtons" id="edit">Edit</button>
</div>
{% endblock %}