.all {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: stretch;
    justify-content: stretch;
    border: 4px solid #2F683B;
    height: calc(100vh - 24px);
    width: calc(100vw - 24px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftFromCanvas {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

button {
    border: 2px solid #2F683B;
    color: #2f3734;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
    height: 35px;
    min-width: 35px;
    box-shadow: 0 2px 0 #2F683B;

    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    align-self: baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

button:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

button:active {
    filter: brightness(0.7);
}

#canvas {
    background-color: white;
    position: relative;
    aspect-ratio: 3/2;
    overflow: hidden;
}

#ops {
    background-color: #9ad473;
    padding: 12px;
    border-right: 4px solid #2F683B;
    border-bottom: 4px solid #2F683B;
}

#charContainer {
    background-color: #E5EDE0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-right: 4px solid #2F683B;
    height: 100%;
}

.bottomOps {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

.upperOps {
    display: flex;
    justify-content: space-between;
}

.upperRight {
    display: flex;
    gap: 20px;
}

.undoRedo {
    transform: scale(1, -1);
    box-shadow: 0 -2px 0 #2F683B;
}

.opsFlex {
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.modifierCage {
    border: 1px solid #2F683B;
    background-color: #B1C3B7;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 2px 0 #2F683B;
}

.modifierText {
    font-size: 18px;
    color: #49524F;
    font-weight: bold;
}

.modifierOptions {
    display: flex;
    gap: 4px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    color: #49524F;
    font-weight: bold;
}

.transformOpsFlex {
    display: flex;
    gap: 15px;
}

.stretchFlex {
    display: flex;
    gap: 5px;
}

.flipFlex {
    display: flex;
    gap: 5px;
}

#flipV {
    transform: translate(0, -5px);
}

#flipH {
    padding-left: 3px;
    padding-right: 3px;
}

.flipVGrid {
    display: grid;
    grid-template-rows: 14px 1px 15px;
    align-items: center;
    transform: translate(0, -2px);
}

.flipHGrid {
    display: grid;
    grid-template-columns: 10px 3px 15px;
    transform: translate(1px, 0);
}

.mirrorLine {
    transform: translate(2px, 0) rotate(90deg) scale(1, 1.1);
}

.mirrorLineB {
    transform: translate(0px, -1.5px) scale(1, 1.1);
}

.ogA {
    transform: scale(1, 0.9);
}

.mirroredA {
    transform: scale(1, -0.9);
}

.mirroredB {
    transform: scale(-1, 1);
}

.sizeMove {
    display: flex;
    gap: 28px;
}

.sizeFlex {
    display: flex;
    flex-direction: column;
}

.moveOps {
    display: flex;
    flex-direction: column;
}

.moveOps1 {
    display: flex;
    justify-content: space-between;
}

.moveOps2 {
    display: flex;
}

.moveBtn {
    height: 40px;
    width: 40px;
}

.rotateBtn {
    max-width: 35px;
    margin-bottom: auto;
    font-size: 18px;
    padding-top: 3px;
}

#mirror {
    display: flex;
    height: fit-content;
    gap: 5px;
    align-items: center;
}

.mirrorOuter {
    border: 1px solid #2f3734;
    padding: 3px;
    background-color: #B1C3B7;
}

.mirrorFlex {
    background-color: #7e8d83;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70px;
}

.mirrorFlex div {
    border: 1px solid #2f3734;
    height: 20px;
    width: 35px;
    color: #2f3734;
}

.mirrorOff {
    background-color: red;
    grid-column: 1;
}

.mirrorOn {
    background-color: #559a54;
    grid-column: 2;
}

.objCount {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2F683B;
}

.concludeBtn {
    width: 100%;
}

.colorContainer {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #2F683B;
    padding: 5px;
    box-shadow: 0 2px 0 #2F683B;
}

.colorPicker {
    display: flex;
    gap: 5px;
    margin: 3px;
}

#hueBar {
    border-radius: 5px;
}

.sv, .hue {
    position: relative;
}

#huePicker, #svPicker {
    position: absolute;
    width: 6px;
    height: 6px;
    border: 2px solid white;
    box-shadow: 0 0 0 1px black;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 2;
    top: 0;
    left: 0;
}

#colorList {
    display: grid;
    grid-template-columns: auto auto;
    height: 47px;
    width: auto;
    background-color: white;
    border: 1px solid #49524F;
    gap: 0;
    padding: 0;
    margin: 3px;
    margin-top: 5px;
}

.selectColors {
    margin-right: 3px;
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
    height: 18px;
}

.bgArea {
    display: grid;
    grid-template-columns: auto 19px;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.colorArrows {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.up {
    width: 0;
    height: 0;
    border-bottom: 10px solid #49524F;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.down {
    width: 0;
    height: 0;
    border-top: 10px solid #49524F;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; 
}

.inactiveUp {
    border-bottom: 10px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

.inactiveDown {
    border-top: 10px solid white;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
}

#usedColors {
    flex: none;
    display: grid;
    grid-template-columns: repeat(7, 15px);
    grid-auto-rows: 15px;
    gap: 5px;
    overflow: hidden;
    scrollbar-width: none;
    margin: 5px;
    margin-right: 0;
}

#usedColors::-webkit-scrollbar {
    display: none;
}

.colorBlock {
    height: 15px;
    width: 15px;
    border: 1px solid #49524F;
    cursor: pointer;
}

.colorBlock:active {
    transform: scale(0.7);
}

#bgColor {
    background-color: white;
}

#bgColor:active {
    transform: none;
}

.inactiveBtn {
    filter: brightness(0.7);
}

.inactiveBtn:hover {
    cursor: default;
    filter: brightness(0.7);
}

.inactiveBtn:active {
    cursor: default;
    filter: brightness(0.7);
}

.letterOptionsGrid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    color: #49524F;
    font-weight: bold;
}

.letterMessage {
    background-color: white;
    border: 1px solid #49524F;
    color: #2f3734;
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    min-width: 130px;
    text-align: center;
    pointer-events: none;
    user-select: none;
    font-size: 15px;
    font-weight: normal;
    box-shadow: 0 1px 0 #49524F;
}

.alphabetAndFont {
    display: flex;
    margin: 3px;
    justify-content: space-between;
}

.letterOptions {
    display: flex;
    margin: 3px;
    align-items: center;
}

.triang {
    margin: 3px;
    cursor: pointer;
}

.back {
    width: 0;
    height: 0;
    border-right: 10px solid #49524F;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

}

.forward {
    width: 0;
    height: 0;
    border-left: 10px solid #49524F;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;

}

.replaceOps {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.letterButton {
    padding-top: 12px;
    padding-bottom: 11px;
    width: 52px;
    height: fit-content;
    border: 2px solid #49524F;
    box-shadow: 0 2px 0 #49524F;
}

.v2 {
    padding-bottom: 2px;
    width: 52px;
}

.g2 {
    margin: 0px 0px 0px 5px;
}

.fontAllGrid {
    display: grid;
    grid-template-columns: 10px 15px 15px;
    transform: rotate(30deg);
    pointer-events: none;
    height: fit-content;
    width: fit-content;
}

.buttonPart1 {
    display: flex;
    transform: rotate(-60deg);
    gap: 0px;
}

.buttonPart1 div {
    transform: rotate(30deg);
}

.arrowButton {
    transform: scale(1, -1) rotate(30deg);
}

.b2 {
    margin: 10px 0px 0px -10px;
}

.letter1 {
    margin: 2px 0px 0px -6px;
}

.difFont {
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
    margin: 0px -10px 0px -7px;
}

#alphabet {
    background-color: white;
    padding: 5px;
    border: 1px solid #49524F;
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(17, 20px);
    grid-template-rows: repeat(8, 25px);
    gap: 2px;
    text-align: center;
    box-shadow: 0 2px 0 #49524F;
}

#alphabet div {
    cursor: pointer;
    font-size: 18px;
}

.preview {
    user-select: none;
}

.preview2, .element {
    font-size: 80px;
    font-weight: bold;
    color: black;
    user-select: none;
    position: absolute;
    transform: translate(-50%, -50%) rotate(0deg) scale(1, 1);
}

.element.selected {
    color: red !important;
}

.dragSelection {
    position: absolute;
    outline: 2px dashed black;
    box-sizing: border-box;
    pointer-events: none;
    z-index: 9999;
}

.infobox {
    background-color: white;
    border: 1px solid #49524F;
    padding: 3px;
    max-width: 250px;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    pointer-events: none;
    white-space: pre-line;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.overlay2 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.popup {
    background-color: #E5EDE0;
    border: 5px solid #2F683B;
    color: #49524F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    height: 439px;
    width: 922px;
    transform: translate(-50%, -50%);
    padding: 20px;
    align-items: center;
    display: flex;
    gap: 20px;
    position: fixed;
    z-index: 100001;
}

.popupSmall {
    background-color: #E5EDE0;
    border: 5px solid #2F683B;
    color: #49524F;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 256px;
    width: 384px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    z-index: 100003;
}

.hidden {
    display: none;
}

#popupMessage {
    margin: 70px 30px 0 30px;
}

.concludeOps {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    flex: 1;
}

.previewImage {
    position: relative;
    font-weight: bold;
    overflow: hidden;
    pointer-events: none;
    border: 3px solid #B1C3B7;
    flex: 0 0 auto;
}

.concludeButtons {
    background-color: white;
    color: #2F683B;
    text-decoration: none;
    border: 3px solid #2F683B;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    box-shadow: 0 3px 0 #2F683B;
    text-align: center;
}

.share {
    padding-top: 28px;
    padding-bottom: 28px;
}

.smaller {
    font-size: 15px;
    padding: 10px;
}

.concludeButtons:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.concludeButtons:active {
    filter: brightness(0.7);
}

.okButton {
    background-color: white;
    color: #2F683B;
    text-decoration: none;
    border: 3px solid #2F683B;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    bottom: 20px;
    width: 100px;
    user-select: none;
    box-shadow: 0 3px 0 #2F683B;
}

.okButton:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.okButton:active {
    filter: brightness(0.7);
}

.backButton {
    border: 3px solid #2F683B;
    color: #2F683B;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    width: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    position: absolute;
    top: 20px;
    right: 20px;
    user-select: none;
    box-shadow: 0 3px 0 #2F683B;
}

.backButton:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.backButton:active {
    filter: brightness(0.7);
}

.backMenuButton {
    border: 4px solid #2F683B;
    color: #2F683B;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0 3px 0 #2F683B;
}

.backMenuButton:hover {
    cursor: pointer;
    filter: brightness(0.9);
}

.backMenuButton:active {
    filter: brightness(0.7);
}

.form {
    margin: 5px 0 5px 0;
    padding: 5px;
    font-size: 15px;
    border: 2px solid #49524F;
}

.inactiveForm {
    filter: brightness(0.8);
    pointer-events: none;
}

.buttonSelected {
    border: 2px solid red;
    box-shadow: 0 2px 0 red;
}

.colorBlock.buttonSelected {
    box-shadow: none;
    margin: -1px;
}

.fonts {
    font-family: 'Courier New', Courier, monospace;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Times New Roman', Times, serif;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: Arial, Helvetica, sans-serif;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}